<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="" /> <!-- 在此配置 SQL Server 数据库的连接字符串 -->
  </connectionStrings>
  <appSettings>
    <add key="DbPath" value="" /> <!-- 在此配置 Access 数据库的 .mdb 文件-->
    <!-- 在下面中选择需要使用的数据库类型，将不需要的注释即可，请不要修改 value 值-->
    <add key="DAL" value="AccessDAL" />
    <!--<add key="DAL" value="SQLDAL" />-->
  </appSettings>
</configuration>